[Unit]
Description=GenieACS %i service
After=network-online.target mongod.service
Wants=network-online.target
Requires=mongod.service

[Service]
Type=simple
User=genieacs
Group=genieacs
EnvironmentFile=/etc/genieacs/genieacs.env
ExecStart=/usr/bin/genieacs-%i
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths=/var/log/genieacs /var/lib/genieacs

[Install]
WantedBy=multi-user.target

