[Unit]
Description=Run ISP Manager health check every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=isp-manager-healthcheck.service

[Install]
WantedBy=timers.target
